.a-logo {
  background:#847F7B;
  padding: 5px 13px;
  margin-right: 5px;
  &.-alphabet {
  }
  &-2 {
    background:#847F7B;
    padding: 5px 13px;
    margin-right: 5px;
  }
  &.-octcat {
    background: initial;
    height: 174px;
    width: 174px;
    padding: initial;
    margin-left: 1em;
   path {
      // fill:#000;
      // fill-opacity:1;
      stroke-width:8px;
      stroke-dasharray: 3;
      animation: fill-in ease 3s;
      animation-iteration-count: infinite;
    }
    @keyframes fill-in {
      0% {
        fill: rgba(255, 255, 255, 0);
        stroke-dasharray: 0;
      }
      30% {
        // fill: rgba(0, 0, 0, 0.747);
        stroke-dasharray: 30;
      }
      50% {
        fill: rgba(255, 255, 255, 1);
        stroke-dasharray: 66;
      }
      100% {
        fill: rgba(255, 255, 255, 0);
        stroke-dasharray: 13z;
      }
      // to {
      //   stroke-dashoffset: 0;
      // }
      // from {
      //   stroke-dashoffset: 287;
      // }
    }
  }
  &__wrap {
    display: flex;
    margin-top: 2vh;
  }
}

