.a-title {
  font-size: 20px;
  &.-sub {
    font-size: 15px;
  }
  &.-pageTop {
    text-align: center;
  }
  &.-desc {
    font-family: Myanmar Sangam MN;
    display: block;
    font-size: 15px;
  }
  &.-mono {
    font-size: 15px;
    color: gray;
  }
}