.a-title {
  font-size: 20px;
  &.-sub {
    font-size: 15px;
  }
  &.-pageTop {
    text-align: center;
  }
  &.-workTag {
    text-align: center;
    color: #fff;
    padding-bottom: 2vh;
    &:nth-child(2) {
      padding-top: 30vh;
    }
  }
  &.-desc {
    font-family: Myanmar Sangam MN;
    display: block;
    font-size: 15px;
  }
  &.-mono {
    font-size: 15px;
    color: gray;
  }
}