.m-modal {
  &__bkground {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    // z-index: 9998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  height: 43vh;
  width: 50vw;
  background: #fff;
  font-size: 30px;
  padding: 10px 15px;
  transition: opacity 0.3s ease;
  overflow-y: scroll;
  span {
    font-family: 'クレー', '游明朝体', 'ヒラギノ明朝 ProN';
    font-size: 0.6em;
  }
}