.p-home {
  background: #655F5A;
  .o-header {
    height: 23vh;
    margin-top: -3vh;
  }
  .m-menu ul li {
    font-family: 'labtop-secundo';
    font-size: 34px;
  }
  .a-title.-pageTop {
    color: #fff;
    padding-top: 33vh;
    padding-bottom: 3vh;
  }
  .o-article {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .m-card {
      box-sizing: border-box;
      margin-right: 20px;
      margin-bottom: 200px;
      // margin-bottom: 15px;
      opacity: 0.6;
      width: 348px;
      padding: 10px 10px 35px 10px;
      position: relative;
      height: 400px;
      overflow-y: scroll;
      &.-square {
        height: initial;
        padding: initial;
        overflow: hidden;
      }
      .a-picture {
        position: relative;
      }
      .a-title {
        &.-sub {
          text-indent: 2em;
        }
        &.-desc {
          position: absolute;
          right: 1em;
        }
        &.-middleDesc {
          font-size: 12px;
          display: block;
          text-indent: 2em;
        }
      }
    }
  }
  .m-modal__bkground {
    padding-top: 30vh;
  }
}

@media only screen and (max-width:500px) {
  .p-home {
    .o-header {
      height: 10vh;
      .a-logo__wrap {
        display: none;
      }
    }
  }
}